<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-body-wrapper horizontal-menu">
        <div class="sidebar-wrapper">
            <div>
                <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light"
                            src="./assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark"
                            src="./assets/images/logo/logo_dark.png" alt=""></a>
                    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i>
                    </div>
                </div>
                <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid"
                            src="./assets/images/logo/logo-icon.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow disabled" id="left-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar" data-simplebar="init" style="display: block;">
                            <div class="simplebar-wrapper" style="margin: 0px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
                                            <div class="simplebar-content" style="padding: 0px;">
                                                <li class="back-btn">
                                                    <div class="mobile-back text-end"><span>Back</span><i
                                                            class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                                                </li>
                                                <li class="sidebar-list">
                                                    <a class="sidebar-link sidebar-title" [routerLink]="['/']"
                                                        data-bs-original-title="" title=""><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-home">
                                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                                                            </path>
                                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                        </svg><span>Home</span>
                                                        <div class="according-menu">
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="sidebar-list">
                                                    <a class="sidebar-link sidebar-title"

                                                        data-bs-original-title="" title=""><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-home">
                                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                                                            </path>
                                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                        </svg><span>Category Management</span>
                                                        <div class="according-menu">
                                                        </div>
                                                    </a>
                                                    <ul class="sidebar-submenu" style="display: block;">
                                                        <li><a class="submenu-title" href="#" data-bs-original-title=""
                                                            [routerLink]="['/', path.category.root, path.category.city]"
                                                                title="">City<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                        </li>
                                                        <li><a class="submenu-title" href="#" data-bs-original-title=""
                                                            [routerLink]="['/', path.category.root, path.category.gender]"
                                                                title="">Gender<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                        </li>
                                                        <li><a class="submenu-title" href="#" data-bs-original-title=""
                                                            [routerLink]="['/', path.category.root, path.category.language]"
                                                                title="">Language<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="sidebar-list"><a class="sidebar-link sidebar-title"
                                                        data-bs-original-title="" title=""><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-anchor">
                                                            <circle cx="12" cy="5" r="3"></circle>
                                                            <line x1="12" y1="22" x2="12" y2="8"></line>
                                                            <path d="M5 12H2a10 10 0 0 0 20 0h-3"></path>
                                                        </svg><span>Starter kit</span>
                                                        <div class="according-menu"></div>
                                                    </a>
                                                    <ul class="sidebar-submenu" style="display: block;">
                                                        <li><a class="submenu-title" href="#" data-bs-original-title=""
                                                                title="">color version<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                            <ul class="nav-sub-childmenu submenu-content"
                                                                style="display: block;">
                                                                <li><a href="index.html" class="active"
                                                                        data-bs-original-title="" title="">Layout
                                                                        Light</a></li>
                                                                <li><a href="layout-dark.html" data-bs-original-title=""
                                                                        title="">Layout Dark</a></li>
                                                            </ul>
                                                        </li>
                                                        <li> <a class="submenu-title" href="#" data-bs-original-title=""
                                                                title="">Page layout<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                            <ul class="nav-sub-childmenu submenu-content"
                                                                style="display: none;">
                                                                <li><a href="boxed.html" data-bs-original-title=""
                                                                        title="">Boxed</a></li>
                                                                <li><a href="layout-rtl.html" data-bs-original-title=""
                                                                        title="">RTL</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="hide-on-scroll.html" data-bs-original-title=""
                                                                title=""><span>Hide menu on Scroll</span></a></li>
                                                        <li> <a class="submenu-title" href="#" data-bs-original-title=""
                                                                title="">Footers<span class="sub-arrow"><i
                                                                        class="fa fa-chevron-right"></i></span>
                                                                <div class="according-menu"></div>
                                                            </a>
                                                            <ul class="nav-sub-childmenu submenu-content"
                                                                style="display: none;">
                                                                <li><a href="footer-light.html"
                                                                        data-bs-original-title="" title="">Footer
                                                                        Light</a></li>
                                                                <li><a href="footer-dark.html" data-bs-original-title=""
                                                                        title="">Footer Dark</a></li>
                                                                <li><a href="footer-fixed.html"
                                                                        data-bs-original-title="" title="">Footer
                                                                        Fixed</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: auto; height: 408px;"></div>
                            </div>
                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></div>
                </nav>
            </div>
        </div>
    </div>
</div>
