<div class="container">
    <h1>City Management</h1>
    <div>
        <button mat-raised-button (click)="addCity()">
            <i class="fa fa-plus"></i>
            <span>New City</span>
        </button>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input (keyup)="applyFilter($event)" matInput placeholder="Enter city" #input>
        </mat-form-field>
    </div>

    <div class="mt-3 row">
        <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="abbName">
                <th mat-header-cell *matHeaderCellDef> Abbrivation Name </th>
                <td mat-cell *matCellDef="let element"> {{element.abbName}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button type="button" class="btn btn-warning" title="edit" (click)="editCity(element.id)">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" title="delete" (click)="delete(element.id)">
                        Delete
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of city elements" [length]="total" (page)="handlePage($event)">
        </mat-paginator>
    </div>
</div>
