<div class="row">
    <h3 class="col-md-12">{{title}}</h3>
    <div class="col-md-12 d-flex">
        <input class="form-control" [(ngModel)]="title" />
        <button mat-raised-button color="primary" class="ml-3" (click)="addItem(title)">Add</button>
        <button (click)="addItem(title)" class="ml-3 btn btn-primary">
            Add
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list-group w-100">
            <li class="list-group-item" *ngFor="let item of CityList">
                {{ item.abbName }} - {{ item.name }}
                <button type="button" class="btn btn-danger float-right" title="delete"
                    (click)="delete(item.id)">
                    X
                </button>
            </li>
        </ul>
    </div>
</div>
